.slick-prev:before,
.slick-next:before {
  color: black !important;
}

.breadcrumb {
  margin-bottom: 0 !important;
}

nav {
  top: 0;
  box-shadow: 0px 13px 24px 0px rgba(0, 0, 0, 0.08);
}

nav .navbar-collapse.collapse {
  display: block;
}

@media (max-width: 991px) {
  nav .navbar-collapse.collapse {
    overflow: hidden;
  }

  nav .navbar-collapse.active {
    height: 50vh !important;
  }

  .navCart {
    position: absolute;
    left: 0;
  }

  .navCart span {
    right: auto !important;
    left: 15px;
    top: -5px !important;
  }
}

@media (min-width: 991px){
  .navCart{
    right: 0;
    left: auto !important;
  }
  
  .navCart span {
    right: 0 !important;
    left: auto !important;
  }
}

nav .navbar-collapse {
  transition: 0.6s all ease-in-out;
  height: 0 !important;
}
